body{
	padding-top: 75px;
}

.bottom-spacer20{
	margin-bottom: 200px;
}

.title{
	font-size: 200%;
	font-weight: bold;
}

.bottom-spacer10{
	margin-bottom: 100px;
}

.bottom-spacer5{
	margin-bottom: 50px;
}

img{
	margin-bottom: 3px;
	margin-top: 3px;
}

a{
	color: #1240AB;
}